@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Book>;
<script src="~/js/Index.js"></script>
<h1>Library Books</h1>

<div class="row">
  <div class="col-md-6 col-sm-12">
    @foreach (Book book in Model)
    {
      <button class="btn btn-secondary my-1" id=@book.BookId-title>@book.Title</button>
      <br>
      <script>
        getDetailsOfBook(@book.BookId);
      </script>
    }
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card" id="detailsCard" style="display:none;">
      <div class="card-header text-dark text-center">
        <h2 id="bookTitle"></h2>
        <input type="text" style="display:none;" id="bookTitleInput" class="form-control">
        <button id="submitTitleChange" class="btn btn-dark" style="display:none;">Submit change</button>
        <input type="hidden" id="bookId">

      </div>
      <div class="card-body">
        <div class="card-text text-dark text-center">
          Genre: <span id="bookGenre"></span>
          <br>
          Pages: <span id="bookPages"></span>
          <br><br>
          Currently rented to:
          <ul class="list-group list-group-horizontal" id="listOfRenters">

          </ul>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="button" class="btn btn-dark" id="rentButtonShowModal" data-bs-toggle="modal" data-bs-target="#rentModal">
          Rent
        </button>
        <button class="btn btn-dark" type="button" id="delete">Delete</button>
      </div>
    </div>
  </div>
</div>
<script>

</script>
<script>

</script>
<div class="modal fade" id="rentModal" tabindex="-1" aria-labelledby="rentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rentModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select id="patronList">

        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="rentBook">Rent This Book</button>
      </div>
    </div>
  </div>
</div>
<script>

</script>
<script>

</script>
<p>@Html.ActionLink("Add new book", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<script src="~/js/Index.js"></script>